@import "reset";
@import "mixins";
@import "basecolours";

@font-face {
    font-family: proxima;
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: proximalight;
    src: url(../fonts/ProximaNova-Light.otf);
}

@font-face {
    font-family: proximabold;
    src: url(../fonts/ProximaNova-Bold.otf);
}

body{
    background: $white;
    font-size: 16px;
    color: $dark;
    width: 100%;
    height: 100%;
    font-family: 'proxima';
    height: 100%;
    width: 100%;
}


.titleIcon{
	margin: 0px auto 20px auto;
	display: block;
}

h1,h2,h3{
    text-align: center;
    display: block;
}

p{
    text-align: center;
    line-height: 1.3;
    font-weight: 100;
    font-size: 1em;
    span{
        font-weight: 400;
				&.account{
					color: $orange;
				}
    }
	
		&.account{
			margin-top: 20px;
			span{
				color: $orange;
			}
		}
		&.tweet{
			font-style: italic;
			span{
				font-weight: 100;
				color: $orange;
			}
		}
}




@-webkit-keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-moz-keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}


@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes opac {
    99% { opacity: 0 }
    100% { opacity: 1 }
}

@-moz-keyframes opac {
    99% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $dark}
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes blink-caret {
    from, to { border-color: $dark }
    50% { border-color: transparent}
}

.writecode{
    @include clearfix();
    width: 630px;
    margin: 0 auto;
		h1 { 
    font-size:5em;
    width:630px;
    white-space:nowrap;
		text-transform: uppercase;
    overflow:hidden;
    border-right: .1em solid black;
			font-family: 'PT Mono' ;
    
    -webkit-animation: typing 2s steps(13, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 2s steps(13, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}
}

.hrule{
	width: 200px;
	height: 4px;
	background: $dark;
	margin: 30px auto;
}
@-webkit-keyframes typing {
    from { width: 0 }
    to { width:630px; }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:630px; }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}


h2{
		font-family: proxima;
    font-size: 1.2em;
    margin-bottom: 30px;
		color: $orange;
		text-transform: uppercase;
    span{
    	font-family: proxima;
			color: $dark;
			font-size: 2em;
			display:block;
			margin-top: 5px;
    }
}

h3{
    font-size: 1.8em;
		text-transform: uppercase;
    span{
      font-family: proxima;
			color: $orange;
    }
}

header{
    position: absolute;
    left:0;
    right:0;
    top: 45%;
    margin-top: -175px;
    h3{
			font-family: proximalight;
        -webkit-animation: fade 2.9s linear forwards;
        -moz-animation: fade 2.9s linear forwards;
        margin: 0px 0 20px 0;
    }
	p{
		font-family: proximalight;
		font-size: 1.2em;
		width: 480px;
		line-height: 1.6;
		margin: 0 auto;
		span{
			color: $orange;
			text-decoration:underline;
			font-family:proxima;
		}
	}
	img{
		margin: 0 auto;
		width: 50px;
		display:block;
		margin-top: 40px;
	}
}
nav{
	position: fixed;
	width: 100%;
	margin-top:30px;
	z-index: 5000000;
	div{
		@include clearfix();
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 30px;
	}
	h1{
		font-family: proximabold;
		float:left;
	}
}
ul.homenav{
	font-family: proximabold;
	text-transform: uppercase;
	float:right;
	font-size: 0.7em;
    li{
        display: inline-block;
        opacity: 0.8;
        cursor: pointer;
        @include easing();
				margin: 0 8px;
        &:hover{
            opacity: 1;
            @include easing();
        }
    }
}

.top{
    width: 100%;
    height: 100%;
		background: url(../img/macbook4.jpg);
		background-size: cover;
}

main{
    width: 100%;
    section{
				@include clearfix();
    }
    p{
        max-width: 600px;
        margin: 0 auto;
        line-height: 2;
				font-family: proximalight;
				text-align:center;
    }
	.aboutMe{
		    background:$white;
    width:100% !important;
		position:relative;
	}
	.mywork{
		background: $grey;
		padding-top: 250px;
		padding-bottom: 250px;
	}
	
	.social{
		position:relative;
	}
	.arrowup {
		top:-150px;
   	width: 100%;
		background: url(../img/arrowup2.png);
		background-size: 100% 150px;
		position: absolute; 
		height: 150px;
	}
	
	.arrowdown {
		bottom:-150px;
   	width: 100%;
		background: url(../img/arrowup3.png);
		background-size: 100% 150px;
		position: absolute; 
		height: 150px;
	}
	
}

#blog{
	h2{
		font-family: proxima;
		color: #2a2a2a;
		font-size: 2em;
		display: block;
		margin-top: 5px;
		text-transform: capitalize;
	}
	&.individualpost{
		h1{
			font-size: 2em;
			margin-bottom: 15px;
		}
		h2{
			font-family: proxima;
			color: #2a2a2a;
			font-size: 2em;
			display: block;
			margin-top: 5px;
		}
		article{
			padding: 25px 22px;
			a{
				float:left;
			}
			p{
			margin-bottom: 20px;
			}
		}
		.sidebar{
			position: absolute;
			top: 50px;
			article{
				padding: 25px 0px;
				p{
					margin-bottom: 0px;
				}
			}
		}
		.published{
			font-size: 0.8em;
			margin-left: 22px;
		}
	}
	
	.sidebar{
			position: fixed;
			top:205px;
			left: 70%;
			padding-left: 50px;
			article{
				h2{
					font-size: 1.1em;
				}		
				div{
					width: calc(100% - 50px);
				}
			}
		ul{
			li{
				padding: 5px;
				&:hover{
					color: $orange;
					cursor: pointer;
				}
			}
		}
	}
	main{
		float:left;
		margin: 0 100px 0 150px;
		width: calc(70% - 200px);
		h1{
			font-family: proxima;
			color: #2a2a2a;
			font-size: 1.9em;
			display: block;
			margin-top: 140px;
			line-height: 1.3;
			text-align: left;
			margin-left: 50px;
			width: 100%;
		}
	}
	nav{
		div{
			max-width: 1280px;
			margin: 0 auto;
			padding: 0 30px;
		}
		ul.homenav {
			font-family: proximabold;
			text-transform: uppercase;
			float: right;
			font-size: 0.7em;
		}
		h1{
			float: left;
			margin: 0;
			font-family: proximabold;
		}
	}
	h1{
		font-family: 'Titillium Web', sans-serif;
		float:none;
		margin: 50px 0 50px 22px;
	}
	h2{
		text-align: left;
	}
	p{
		text-align: left;
		margin: 0;
		max-width:initial;
		font-size: 1em;
	}
	article{
		@include clearfix();
		padding: 40px 0;
		aside{
			text-align: right;
			float:left;
			width: 90px;
			font-size: 2em;
			margin-right: 30px;
			padding-right: 20px;
			border-right: 3px solid $dark;
			span{
				display:block;
				font-weight: 100;
				color: $orange;
				font-size: 0.6em;
				text-transform: uppercase;
			}
		}
		div{
			@include clearfix();
			float: left;
			width: calc(100% - 150px);
				max-height: 250px;
				overflow: hidden;
			h1,h2,h3{
				text-align: left;
				line-height: 2;
				font-size: 1em;
			}
			h2.maintitle{
				font-size: 2em;
				line-height: 1;
				margin-top: 0px;
				margin-bottom: 20px;
			}
		}
		a.more{
			float:left;
			color: $orange;
			background: url(../img/arrow.svg) right center no-repeat;
			background-size: 15%;
			padding-right: 25px;
			margin-top: 30px;
			margin-right: 10px;
			margin-left: 143px;
		}
	}
}


.social{
	padding: 0 0 100px 0;
}

.blogsummary{
	padding: 0 0 150px 0;
	article{
		text-align: left;
		@include clearfix();
		padding: 40px 0;
		width: 56%;
		margin: 0 auto;
		div{
			@include clearfix();
			float: left;
			width: calc(100% - 150px);
			max-height: 250px;
			overflow: hidden;
		}
		p{
			text-align: left;
			max-width: initial;
		}
			h2.maintitle{
				font-size: 2em;
				line-height: 1;
				margin-top: 0px;
				margin-bottom: 20px;
				color: $dark;
			}
			h1,h2,h3{
				text-align: left;
				line-height: 2;
				font-size: 1em;
			}
			aside{
				text-align: right;
				float:left;
				width: 90px;
				font-size: 2em;
				margin-right: 30px;
				padding-right: 20px;
				border-right: 3px solid $dark;
				span{
					display:block;
					font-weight: 100;
					color: $orange;
					font-size: 0.6em;
					text-transform: uppercase;
				}
			}
		
		a.more{
			float:left;
			color: $orange;
			background: url(../img/arrow.svg) right center no-repeat;
			background-size: 15%;
			padding-right: 25px;
			margin-top: 30px;
			margin-right: 10px;
			margin-left: 121px;
		}
	}
	
}