/* Typography */

@import "basecolours";

@font-face {
    font-family: proxima;
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: proximalight;
    src: url(../fonts/ProximaNova-Light.otf);
}

@font-face {
    font-family: proximabold;
    src: url(../fonts/ProximaNova-Bold.otf);
}


h2{
    font-family: proxima;
    font-size: 1.2em;
    margin-bottom: 30px;
    color: $orange;
    text-transform: uppercase;
    span{
      font-family: proxima;
      color: $dark;
      font-size: 2em;
      display:block;
      margin-top: 5px;
    }
}

h3{
    font-size: 1.8em;
    text-transform: uppercase;
    span{
      font-family: proxima;
      color: $orange;
    }
}



h1,h2,h3{
    text-align: center;
    display: block;
}

// p{
//   text-align: center;
//   line-height: 1.6;
//   font-weight: 100;
//   font-size: 1.35em;
//   span{
//     font-weight: 400;
//     &.account{
//       color: $orange;
//     }
//   }
//   &.account{
//     margin-top: 20px;
//     span{
//       color: $orange;
//     }
//   }
//   &.tweet{
//     font-style: italic;
//     span{
//       font-weight: 100;
//       color: $orange;
//     }
//   }
// }

p, header p{
  font-size: 1.35em;
  line-height: 1.6;
  font-family: proximalight;
  text-align:center;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 1.3em;
}

header h3{
  font-family: proximalight;
    -webkit-animation: fade 2.9s linear forwards;
    -moz-animation: fade 2.9s linear forwards;
    margin: 0px 0 20px 0;
}








