<footer>
  <div class="container">
    <ul>
      <li>
        <a href="{{ site.email }}" class="email">
          <i class="fa fa-envelope"></i>
        </a>
      </li>
      <li>
        <a href="{{ site.twitter }}" class="email">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="{{ site.github }}" class="email">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="{{ site.linkedin }}" class="email">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
  </ul>
  <p class="copyright">&copy; 2000 - 2015 Stephen McCullough </p>
  </div>
</footer>