
<header
  {% if page.selected == "home" or page.selected == 'work' or page.selected == 'blog'  %}
    style="background-image: url('/img/homepage/swmcc-pattern-bg.jpg');"
  {% endif %} >
  <div class="container">
      {% include nav.html %}
    <div class="tagline">
      {% if page.selected == "home" %}
        <h1>Breathing since 1979, building the internet since 2000. </h1>
        <h2>Broke it yesterday</h2>
      {% else %}
         <h1>{{ page.title }}</h1>
      {% endif %}

    </div>
  </div>
</header>
