<nav>
  <div class="nav-items">
    <a href="{{ site.baseurl }}/" class="logo">SW<span>MCC</span></a>
    <ul class="homenav">
      <li><a href="{{ site.baseurl }}/" {% if page.selected == "home" %}class="active"{% endif %}>Home</a></li>
      <li><a href="{{ site.baseurl }}/work" {% if page.selected == "work" %}class="active"{% endif %}>Work</a></li>
      <li><a href="{{ site.baseurl }}/blog" {% if page.selected == "blog" %}class="active"{% endif %}>Blog</a></li>
    </ul>
  </div>
  <a class="nav-twitter" href="{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
</nav>