/**
 * Navigation
 */


header{
  @include bg-cover;
  background-color: $royal-blue;
 }

nav{
  position: relative;
  padding: 30px 0;
}

a.logo{
  font-family: $title-font-family;
  font-size:19px;
  letter-spacing: 1.5px;
  font-weight: 300;
  color: $white;
  text-decoration: none;
  position: absolute;
  left: 0;
  span{
    font-weight: 500;
  }
}

a.nav-twitter{
  color: $white;
  position: absolute;
  right: 0;
}

 nav ul, nav ul li, nav a{
  display: inline-block;
 }

 ul.homenav {
  position: absolute;
  left: 40%;
    a{
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 0 13px;
   }
}

 nav a{
  color: $white;
  &:hover, &:active, &.active{
    color: $burnt-orange;
  }
 }




nav ul li a.email:hover, a.hamburger:hover {
  &:hover{
    color: $white;
    border: none;
  }
  &.active{
    border: none;
  }
}

a.hamburger{
  display: none;
  float: right;
  padding: 25px 15px 0 0;
  color: $white;
  &.active{
    border: none;
  }
}

 #mobile-menu {
  display: none;
  position: fixed;
  background: $royal-blue;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  z-index: 1000;
}

.mobile-menu-relative{
  position: relative;
}


#mobile-menu ul {
  width: 100%;
  li {
  font-family: $title-font-family;
  display: block;
  padding: 12px 0;
  &:first-child{
    padding-top: 50px;
    }
  a{
  display: block;
  text-align: left;
  color: $white;
  font-size: 30px;
  margin: 0;
  text-decoration: none;
  &:hover{
    border: none;
    color: $burnt-orange;
    }
  &.active{
    border: none;
    }
  }
 }
}


a.close-menu {
  color: $white;
}

li.close-icon{
  position: absolute;
  top: 4px;
  right: 35px;
}


