/* Responsify */



@media only screen and (min-width: 1700px) {






}



@media only screen and (max-width: 1100px) {

  .tagline{
    width: 90%;
  }

    .work-example .featured-image, .blog-post .featured-image{
    height: 250px;
  }

  .more-projects ul li{
    width: 50%;
  }

  section.recent-talks-section ul li{
  width: 100%;
  padding-right: 0;
  margin-bottom: 25px;
  display: block;
  }

  .recent-talks-section ul li .inner{
    min-height: 200px;

  }

}




@media only screen and (max-width: 960px) {

  .tagline{
    width: 90%;
  }

  #homepage .about-me p{
    width: 90%;
  }

  header{
    height: 550px;
  }

  .work-example .featured-image, .blog-post .featured-image{
    height: 250px;
  }

  .block-colour{
    height: 400px;
  }

}




@media only screen and (max-width: 850px) {

  header{
    height: 500px;
  }

  ul.homenav{
    left: 34%;
  }

  h1{
    font-size: 42px;
  }

  .post-content, .post-meta, .recent-posts-section ul{
    width: 100%;
  }

    #homepage .about-me p{
    width: 100%;
  }

  .work-example, .blog-post{
    width: 100%;
  }

section.recent-talks-section ul li .inner{
    margin-bottom: 5%;
    width: 100%;
    min-height: 150px;

  }

 section.recent-talks-section ul li .read-more{
  position: static;
  }



}


@media only screen and (max-width: 520px) {

   header{
    height: 350px;
    // background-image: url("../img/homepage/swmcc-pattern-bg-mobile.jpg");
  }

  .tagline{
    bottom: 30px;
  }

  h1{
    font-size: 38px;
  }

  .post-content, .post-meta, .recent-posts-section ul{
    width: 100%;
  }

  .work-example .featured-image, .blog-post .featured-image{
    height: 210px;
  }

  .post-content {
    padding: 40px 0 40px 0;
  }

  .recent-posts-section{
    padding:50px 0;
  }

  h2{
    font-size: 32px;
    padding: 0 0 30px 0;
  }

  h3, h3 a {
    font-size: 22px;
  }

  .more-projects ul li{
    width: 100%;
  }

  header{
    height: 290px;
  }

  .tagline h2, .tagline h1{
    font-size: 33px;
    padding-bottom: 0;
  }

  .tagline h2{
    padding: 5px 0;
  }

  .general-section {
    padding: 10% 0;
  }

  #homepage h2, .recent-talks-section h2{
    padding: 50px 0 30px 0;
  }

  section.blog-post-section, section.work-example-section{
    padding-top: 40px;
  }

  section.recent-talks-section .block-colour{
  height: 230px;
  }

   a.hamburger{
  display: block;
  }

   nav.menu{
    display: none;
   }

  a.nav-twitter {
    color: #ffffff;
    position: static;
    padding-top: 10px;
    font-size: 30px;
  }

}
