---
import BaseLayout from '../layouts/BaseLayout.astro';
import ReadingActivity from '../components/ReadingActivity.astro';
---

<BaseLayout
  title="Readin' - Stephen McCullough"
  description="Books I'm currently reading and have previously read"
>
  <div class="max-w-6xl mx-auto">
    <ReadingActivity />
  </div>
</BaseLayout>
