---
layout: blog_index 
is_index: true
---
<body id="blog">
	<div class="arrowup"></div>
	<nav>
		<div>
		<h1>SWMCC</h1>
		<ul class="homenav">
			<li>About</li>
			<li>Projects</li>
			<li>Blog</li>
			<li>Contact</li>
		</ul>
		</div>
	</nav>
	<main>
		<h1>WELCOME TO MY BLOG WHERE I DOCUMENT MY RAMBLINGS, MUSINGS AND WORK RELATED STORIES</h1>
		{% for post in site.posts limit:page.max_portfolio_list %}
		<article>
			<aside>{{ post.date | date: "%d" }}<span>{{ post.date | date: "%b" }}</span></aside>
				<div>
				    <h2 class="maintitle">{{ post.title }}</h2>
				    <p>{{ post.excerpt }}</p>
				</div>
				<a class="more" href="{{ post.url }}">Read More</a>
		</article>
		{% endfor %}
	</main>
	<section class="sidebar">
		<h2>Categories</h2>
{% assign tags_list = page.tags %}
{% if tags_list.first[0] == null %}
  <ul>
  {% for tag in tags_list %} 
   <li>{{ tag }} <span>({{ site.tags[tag].size }})</span></li>
  {% endfor %}
  </ul>
{% endif %}
	</section>
</body>
</html>
