/**
 * Blog Post
 */

@import "../utils/_variables";
@import "../utils/_mixins";

 .overlay{
  background: rgba(0,0,0,0.35);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
 }

 .blog-post-title, .page-title{
  width: 60%;
  max-width: 920px;
  position: absolute;
  bottom: 60px;
 }

 #work-specific .blog-post-section, #blog-index .blog-post-section, {
  padding: 60px 0;
  a.read-more{
    .fa{
      transform: translate(2px,1px);
    }
  }
  hr{
    border-color: $lightest-grey;
    margin: 15px 0 40px 0;
  }
 }


.post-content{
  padding: 90px 0 50px 0;
}

.post-meta{
  padding: 0 0 110px 0;
}

 .post-content, .post-meta, .recent-posts-section ul{
  width: 70%;
  max-width: 840px;
  margin: 0 auto;
 }

 .recent-posts-section {
  width: 100%;
  background: $royal-blue;
  padding: 110px 0;
  color: $white;
 }

.recent-posts-section h2{
  color: $white;
  padding: 0 0 50px 0;
  font-weight: 300;
}

 .recent-posts-section ul a{
  color: $white;
  padding-bottom: 1px;
  border-bottom: 1px solid $white;
 }

 .recent-posts-section li{
  padding-bottom: 15px;
  h3 a{
    font-weight: normal;
    padding-right: 10px;
  }
 }

 .recent-posts-section h3,  .recent-posts-section p{
  display: inline-block;
 }

 hr {
  color: $light-grey;
  background-color: $light-grey;
 }

 .button-container{
  display: block;
  width: 100%;
  padding: 20px 0 90px 0;
 }

 .post-meta .button-container{
  padding: 0 0 20px 0;
 }

 .post-content ul li {
  padding-bottom: 10px;
  a{
    padding-bottom: 1px;
    border-bottom: 1px solid $burnt-orange;
    text-decoration: none;
    color: $grey;
    &:hover{
      color: $burnt-orange;
    }
   }
  }

  .post-content h3{
    padding-bottom: 15px;
  }

  .post-content img{
    text-align: center;
    display: block;
    padding: 10px 0 20px 0;
    margin: 0 auto;
    width: 100%;
  }

