/* Mixins */
/*
==============
Clearfix
==============
CSS only clearfix mixin to prevent clearfix class.

USAGE: @include clearfix(); // Clears div to intended pre-float height.

*/
/*
==============
Icons
==============
Creates a background image with an icon of your choice and sizing of your choice.

USAGE: @include icon(search, 40px); // Gives the search icon at a 40px size.

*/
/*
==============
Transition
==============
Adds one line transitions.

USAGE: @include transition(0.5s ease-out); // Gives the elemtent a 0.5 transition easing out.

*/
/*
==============
Placeholder
==============
Multi browser support for placeholder attribute

USAGE: @include placeholder($black); // Makes the placeholder coloured black as per _basecolours.sass

*/
