/* line 1, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/reset.scss */
body {
  line-height: 1;
  overflow-x: hidden !important;
}

/* line 30, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 46, ../sass/reset.scss */
html {
  color: #454444;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  background: white;
}

/* line 55, ../sass/reset.scss */
label {
  display: block;
  font-family: 'Lato', sans-serif;
  color: #3a3a3a;
  font-weight: bold;
  font-size: 14px;
}

/* line 63, ../sass/reset.scss */
a, button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* line 69, ../sass/reset.scss */
input, textarea {
  font-family: "Lato", sans-serif !important;
}

/*
==============
Clearfix
==============
CSS only clearfix mixin to prevent clearfix class.

USAGE: @include clearfix(); // Clears div to intended pre-float height.

*/
/*
==============
Icons
==============
Creates a background image with an icon of your choice and sizing of your choice.

USAGE: @include icon(search, 40px); // Gives the search icon at a 40px size.

*/
/*
==============
Transition
==============
Adds one line transitions.

USAGE: @include transition(0.5s ease-out); // Gives the elemtent a 0.5 transition easing out.

*/
/*
==============
Placeholder
==============
Multi browser support for placeholder attribute

USAGE: @include placeholder($black); // Makes the placeholder coloured black as per _basecolours.sass

*/
@font-face {
  font-family: proxima;
  src: url(../fonts/ProximaNova-Regular.otf);
}
@font-face {
  font-family: proximalight;
  src: url(../fonts/ProximaNova-Light.otf);
}
@font-face {
  font-family: proximabold;
  src: url(../fonts/ProximaNova-Bold.otf);
}
/* line 20, ../sass/screen.scss */
body {
  background: #ffffff;
  font-size: 16px;
  color: #2a2a2a;
  width: 100%;
  height: 100%;
  font-family: 'proxima';
  height: 100%;
  width: 100%;
}

/* line 32, ../sass/screen.scss */
.titleIcon {
  margin: 0px auto 20px auto;
  display: block;
}

/* line 37, ../sass/screen.scss */
h1, h2, h3 {
  text-align: center;
  display: block;
}

/* line 42, ../sass/screen.scss */
p {
  text-align: center;
  line-height: 1.3;
  font-weight: 100;
  font-size: 1em;
}
/* line 47, ../sass/screen.scss */
p span {
  font-weight: 400;
}
/* line 49, ../sass/screen.scss */
p span.account {
  color: #f66600;
}
/* line 54, ../sass/screen.scss */
p.account {
  margin-top: 20px;
}
/* line 56, ../sass/screen.scss */
p.account span {
  color: #f66600;
}
/* line 60, ../sass/screen.scss */
p.tweet {
  font-style: italic;
}
/* line 62, ../sass/screen.scss */
p.tweet span {
  font-weight: 100;
  color: #f66600;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@-webkit-keyframes opac {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opac {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #2a2a2a;
  }
}
@-moz-keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@-moz-keyframes blink-caret {
  from, to {
    border-color: #2a2a2a;
  }
  50% {
    border-color: transparent;
  }
}
/* line 113, ../sass/screen.scss */
.writecode {
  width: 630px;
  margin: 0 auto;
}
/* line 14, ../sass/mixins.scss */
.writecode:before, .writecode:after {
  content: "";
  display: table;
}
/* line 19, ../sass/mixins.scss */
.writecode:after {
  clear: both;
}
/* line 117, ../sass/screen.scss */
.writecode h1 {
  font-size: 5em;
  width: 630px;
  white-space: nowrap;
  text-transform: uppercase;
  overflow: hidden;
  border-right: .1em solid black;
  font-family: "PT Mono";
  -webkit-animation: typing 2s steps(13, end), blink-caret 1s step-end infinite;
  -moz-animation: typing 2s steps(13, end), blink-caret 1s step-end infinite;
}

/* line 133, ../sass/screen.scss */
.hrule {
  width: 200px;
  height: 4px;
  background: #2a2a2a;
  margin: 30px auto;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 630px;
  }
}
@-moz-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 630px;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@-moz-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
/* line 160, ../sass/screen.scss */
h2 {
  font-family: proxima;
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #f66600;
  text-transform: uppercase;
}
/* line 166, ../sass/screen.scss */
h2 span {
  font-family: proxima;
  color: #2a2a2a;
  font-size: 2em;
  display: block;
  margin-top: 5px;
}

/* line 175, ../sass/screen.scss */
h3 {
  font-size: 1.8em;
  text-transform: uppercase;
}
/* line 178, ../sass/screen.scss */
h3 span {
  font-family: proxima;
  color: #f66600;
}

/* line 184, ../sass/screen.scss */
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  margin-top: -175px;
}
/* line 190, ../sass/screen.scss */
header h3 {
  font-family: proximalight;
  -webkit-animation: fade 2.9s linear forwards;
  -moz-animation: fade 2.9s linear forwards;
  margin: 0px 0 20px 0;
}
/* line 196, ../sass/screen.scss */
header p {
  font-family: proximalight;
  font-size: 1.2em;
  width: 480px;
  line-height: 1.6;
  margin: 0 auto;
}
/* line 202, ../sass/screen.scss */
header p span {
  color: #f66600;
  text-decoration: underline;
  font-family: proxima;
}
/* line 208, ../sass/screen.scss */
header img {
  margin: 0 auto;
  width: 50px;
  display: block;
  margin-top: 40px;
}

/* line 215, ../sass/screen.scss */
nav {
  position: fixed;
  width: 100%;
  margin-top: 30px;
  z-index: 5000000;
}
/* line 220, ../sass/screen.scss */
nav div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}
/* line 14, ../sass/mixins.scss */
nav div:before, nav div:after {
  content: "";
  display: table;
}
/* line 19, ../sass/mixins.scss */
nav div:after {
  clear: both;
}
/* line 226, ../sass/screen.scss */
nav h1 {
  font-family: proximabold;
  float: left;
}

/* line 231, ../sass/screen.scss */
ul.homenav {
  font-family: proximabold;
  text-transform: uppercase;
  float: right;
  font-size: 0.7em;
}
/* line 236, ../sass/screen.scss */
ul.homenav li {
  display: inline-block;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
  margin: 0 8px;
}
/* line 242, ../sass/screen.scss */
ul.homenav li:hover {
  opacity: 1;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

/* line 249, ../sass/screen.scss */
.top {
  width: 100%;
  height: 100%;
  background: url(../img/macbook4.jpg);
  background-size: cover;
}

/* line 256, ../sass/screen.scss */
main {
  width: 100%;
}
/* line 14, ../sass/mixins.scss */
main section:before, main section:after {
  content: "";
  display: table;
}
/* line 19, ../sass/mixins.scss */
main section:after {
  clear: both;
}
/* line 261, ../sass/screen.scss */
main p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 2;
  font-family: proximalight;
  text-align: center;
}
/* line 268, ../sass/screen.scss */
main .aboutMe {
  background: #ffffff;
  width: 100% !important;
  position: relative;
}
/* line 273, ../sass/screen.scss */
main .mywork {
  background: #f9f9f8;
  padding-top: 250px;
  padding-bottom: 250px;
}
/* line 279, ../sass/screen.scss */
main .social {
  position: relative;
}
/* line 282, ../sass/screen.scss */
main .arrowup {
  top: -150px;
  width: 100%;
  background: url(../img/arrowup2.png);
  background-size: 100% 150px;
  position: absolute;
  height: 150px;
}
/* line 291, ../sass/screen.scss */
main .arrowdown {
  bottom: -150px;
  width: 100%;
  background: url(../img/arrowup3.png);
  background-size: 100% 150px;
  position: absolute;
  height: 150px;
}

/* line 303, ../sass/screen.scss */
#blog h2 {
  font-family: proxima;
  color: #2a2a2a;
  font-size: 2em;
  display: block;
  margin-top: 5px;
  text-transform: capitalize;
}
/* line 312, ../sass/screen.scss */
#blog.individualpost h1 {
  font-size: 2em;
  margin-bottom: 15px;
}
/* line 316, ../sass/screen.scss */
#blog.individualpost h2 {
  font-family: proxima;
  color: #2a2a2a;
  font-size: 2em;
  display: block;
  margin-top: 5px;
}
/* line 323, ../sass/screen.scss */
#blog.individualpost article {
  padding: 25px 22px;
}
/* line 325, ../sass/screen.scss */
#blog.individualpost article a {
  float: left;
}
/* line 328, ../sass/screen.scss */
#blog.individualpost article p {
  margin-bottom: 20px;
}
/* line 332, ../sass/screen.scss */
#blog.individualpost .sidebar {
  position: absolute;
  top: 50px;
}
/* line 335, ../sass/screen.scss */
#blog.individualpost .sidebar article {
  padding: 25px 0px;
}
/* line 337, ../sass/screen.scss */
#blog.individualpost .sidebar article p {
  margin-bottom: 0px;
}
/* line 342, ../sass/screen.scss */
#blog.individualpost .published {
  font-size: 0.8em;
  margin-left: 22px;
}
/* line 348, ../sass/screen.scss */
#blog .sidebar {
  position: fixed;
  top: 205px;
  left: 70%;
  padding-left: 50px;
}
/* line 354, ../sass/screen.scss */
#blog .sidebar article h2 {
  font-size: 1.1em;
}
/* line 357, ../sass/screen.scss */
#blog .sidebar article div {
  width: calc(100% - 50px);
}
/* line 362, ../sass/screen.scss */
#blog .sidebar ul li {
  padding: 5px;
}
/* line 364, ../sass/screen.scss */
#blog .sidebar ul li:hover {
  color: #f66600;
  cursor: pointer;
}
/* line 371, ../sass/screen.scss */
#blog main {
  float: left;
  margin: 0 100px 0 150px;
  width: calc(70% - 200px);
}
/* line 375, ../sass/screen.scss */
#blog main h1 {
  font-family: proxima;
  color: #2a2a2a;
  font-size: 1.9em;
  display: block;
  margin-top: 140px;
  line-height: 1.3;
  text-align: left;
  margin-left: 50px;
  width: 100%;
}
/* line 388, ../sass/screen.scss */
#blog nav div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}
/* line 393, ../sass/screen.scss */
#blog nav ul.homenav {
  font-family: proximabold;
  text-transform: uppercase;
  float: right;
  font-size: 0.7em;
}
/* line 399, ../sass/screen.scss */
#blog nav h1 {
  float: left;
  margin: 0;
  font-family: proximabold;
}
/* line 405, ../sass/screen.scss */
#blog h1 {
  font-family: 'Titillium Web', sans-serif;
  float: none;
  margin: 50px 0 50px 22px;
}
/* line 410, ../sass/screen.scss */
#blog h2 {
  text-align: left;
}
/* line 413, ../sass/screen.scss */
#blog p {
  text-align: left;
  margin: 0;
  max-width: initial;
  font-size: 1em;
}
/* line 419, ../sass/screen.scss */
#blog article {
  padding: 40px 0;
}
/* line 14, ../sass/mixins.scss */
#blog article:before, #blog article:after {
  content: "";
  display: table;
}
/* line 19, ../sass/mixins.scss */
#blog article:after {
  clear: both;
}
/* line 422, ../sass/screen.scss */
#blog article aside {
  text-align: right;
  float: left;
  width: 90px;
  font-size: 2em;
  margin-right: 30px;
  padding-right: 20px;
  border-right: 3px solid #2a2a2a;
}
/* line 430, ../sass/screen.scss */
#blog article aside span {
  display: block;
  font-weight: 100;
  color: #f66600;
  font-size: 0.6em;
  text-transform: uppercase;
}
/* line 438, ../sass/screen.scss */
#blog article div {
  float: left;
  width: calc(100% - 150px);
  max-height: 250px;
  overflow: hidden;
}
/* line 14, ../sass/mixins.scss */
#blog article div:before, #blog article div:after {
  content: "";
  display: table;
}
/* line 19, ../sass/mixins.scss */
#blog article div:after {
  clear: both;
}
/* line 444, ../sass/screen.scss */
#blog article div h1, #blog article div h2, #blog article div h3 {
  text-align: left;
  line-height: 2;
  font-size: 1em;
}
/* line 449, ../sass/screen.scss */
#blog article div h2.maintitle {
  font-size: 2em;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 20px;
}
/* line 456, ../sass/screen.scss */
#blog article a.more {
  float: left;
  color: #f66600;
  background: url(../img/arrow.svg) right center no-repeat;
  background-size: 15%;
  padding-right: 25px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 143px;
}

/* line 470, ../sass/screen.scss */
.social {
  padding: 0 0 100px 0;
}

/* line 474, ../sass/screen.scss */
.blogsummary {
  padding: 0 0 150px 0;
}
/* line 476, ../sass/screen.scss */
.blogsummary article {
  text-align: left;
  padding: 40px 0;
  width: 56%;
  margin: 0 auto;
}
/* line 14, ../sass/mixins.scss */
.blogsummary article:before, .blogsummary article:after {
  content: "";
  display: table;
}
/* line 19, ../sass/mixins.scss */
.blogsummary article:after {
  clear: both;
}
/* line 482, ../sass/screen.scss */
.blogsummary article div {
  float: left;
  width: calc(100% - 150px);
  max-height: 250px;
  overflow: hidden;
}
/* line 14, ../sass/mixins.scss */
.blogsummary article div:before, .blogsummary article div:after {
  content: "";
  display: table;
}
/* line 19, ../sass/mixins.scss */
.blogsummary article div:after {
  clear: both;
}
/* line 489, ../sass/screen.scss */
.blogsummary article p {
  text-align: left;
  max-width: initial;
}
/* line 493, ../sass/screen.scss */
.blogsummary article h2.maintitle {
  font-size: 2em;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #2a2a2a;
}
/* line 500, ../sass/screen.scss */
.blogsummary article h1, .blogsummary article h2, .blogsummary article h3 {
  text-align: left;
  line-height: 2;
  font-size: 1em;
}
/* line 505, ../sass/screen.scss */
.blogsummary article aside {
  text-align: right;
  float: left;
  width: 90px;
  font-size: 2em;
  margin-right: 30px;
  padding-right: 20px;
  border-right: 3px solid #2a2a2a;
}
/* line 513, ../sass/screen.scss */
.blogsummary article aside span {
  display: block;
  font-weight: 100;
  color: #f66600;
  font-size: 0.6em;
  text-transform: uppercase;
}
/* line 522, ../sass/screen.scss */
.blogsummary article a.more {
  float: left;
  color: #f66600;
  background: url(../img/arrow.svg) right center no-repeat;
  background-size: 15%;
  padding-right: 25px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 121px;
}
