/* Typography */
/* Colours */
@font-face {
  font-family: proxima;
  src: url(../fonts/ProximaNova-Regular.otf);
}
@font-face {
  font-family: proximalight;
  src: url(../fonts/ProximaNova-Light.otf);
}
@font-face {
  font-family: proximabold;
  src: url(../fonts/ProximaNova-Bold.otf);
}
/* line 23, ../sass/typography.scss */
h2.section-title {
  font-family: proxima;
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #f66600;
  text-transform: uppercase;
  text-align: center;
}
/* line 30, ../sass/typography.scss */
h2.section-title span {
  font-family: proxima;
  color: #2a2a2a;
  font-size: 2em;
  display: block;
  margin-top: 5px;
}

/* line 39, ../sass/typography.scss */
header h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 0 0 10px 0;
  text-align: center;
}
/* line 44, ../sass/typography.scss */
header h2 span {
  color: #f66600;
  display: inline;
}

/* line 78, ../sass/typography.scss */
p, header p {
  font-size: 1.35em;
  line-height: 1.6;
  font-family: proximalight;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 1.8em;
}

/* line 88, ../sass/typography.scss */
header h3 {
  font-family: proximalight;
  -webkit-animation: fade 2.9s linear forwards;
  -moz-animation: fade 2.9s linear forwards;
  margin: 0px 0 20px 0;
}

/* line 95, ../sass/typography.scss */
a.more {
  font-size: 1.15em;
  float: left;
  color: #f66600;
  background: url(../img/arrow.svg) right center no-repeat;
  background-size: 15%;
  padding-right: 25px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 121px;
}

/* line 108, ../sass/typography.scss */
.blog-post h1 {
  font-size: 2.8em;
  line-height: 1.3em;
  color: #f66600;
}
/* line 113, ../sass/typography.scss */
.blog-post p {
  text-align: left;
  max-width: initial;
}
/* line 116, ../sass/typography.scss */
.blog-post p b {
  font-weight: bold;
}
/* line 120, ../sass/typography.scss */
.blog-post h2.maintitle {
  font-size: 2em;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #2a2a2a;
  padding-top: 10px;
}
/* line 128, ../sass/typography.scss */
.blog-post h3 {
  font-size: 1.45em;
  font-weight: bold;
  padding-bottom: 0.7em;
}
/* line 133, ../sass/typography.scss */
.blog-post h4 {
  font-size: 1.35em;
  font-weight: bold;
  padding-bottom: 0.7em;
}

/* line 140, ../sass/typography.scss */
.blog-post ul li {
  font-size: 1.2em;
  line-height: 1.6;
  font-family: proximalight;
  padding-bottom: 5px;
}
/* line 145, ../sass/typography.scss */
.blog-post ul li a {
  border-bottom: 1px solid #16b1e0;
  padding-bottom: 1px;
}
/* line 148, ../sass/typography.scss */
.blog-post ul li a:hover {
  color: #16b1e0;
}

/* line 154, ../sass/typography.scss */
.blogsummary p a {
  padding-bottom: 1px;
  border-bottom: 1px solid #62656b;
}

/* line 160, ../sass/typography.scss */
p.published {
  color: #62656b;
  font-size: 1.2em;
  padding-top: 5px;
}
