/* Colours */

$white: #ffffff;

$burnt-orange: #EE6C2E;
$royal-blue: #1A4298;

$dark-grey: #24282D;
$grey: #48505A;
$light-grey: #B0B0B0;
$lightest-grey: lighten($light-grey, 40%);

$border-grey: #B6B6B6;

/* Set site colours */

$body-text: $grey;

/* Typography */

$base-font-family: "aktiv-grotesk", helvetica, arial, sans-serif;
$title-font-family: "semplicitapro", helvetica, arial, sans-serif;