---
layout: default
is_index: true
page: work
selected: work
title: My Work
---

<main id="work">
<section class="work-example-section">
    <div class="container">
      <h2>Featured Projects</h2>
         <ul>

          {% for post in site.posts %}
            {% if post.work_article and post.is_work_featured %}
              <li class="work-example">
                <div class="featured-image" style="background-image: url({{ post.image-small }});"></div>
                <div class="text">
                  <p class="meta">{% for post_tag in post.tech %}{{ post_tag }} {% endfor %}</p>
                  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                  <p>{{ post.content | strip_html | truncatewords:17}}</p>
                  <a class="read-more" href="{{ post.url }}">Learn More</a>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
  </section>

  <section>
    <div class="container more-projects">
      <h2>More Projects</h2>
        <ul>
          <li>
            <h3><a href="/bushmills">Bushmills Asset Library</a></h3>
            <p>An asset library built for the Bushmills distillery.</p>
          </li><!--
          --><li>
            <h3><a href="/utv">UTV Internet</a></h3>
            <p>Business continuity project.</p>
          </li><!--
        --><li>
            <h3><a href="/theonlystephen">theonlystephen.com</a></h3>
            <p>This site. How it is built, maintained and extended. Exciting stuff!</p>
          </li>
        </ul>
    </div>
  </section>
</main>

