---
<!-- layout: default -->
selected: blog
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header style="background-image: url('{{ page.image-large }}');" >
      <div class="overlay"></div>
      <div class="container">
          {% include nav.html %}
        <div class="tagline">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </header>

    <section id="single-blog-post" class="container">
      <article class="post-content">
        {{ content }}
      </article>
      <article class="post-meta">
        <div class="button-container">
          <!-- <a href="#" class="twitter-button"><i class="fa fa-twitter"></i>Share Post</a> -->
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="swmcc" data-size="large" data-count="none">Share on Twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        {% if page.type == "post" %}
         <p class="published meta">Published on {{ page.date | date_to_string }} </p>
         <hr />
         <a href="{{ site.baseurl }}/blog/" class="read-more">Back to all posts</a>
        {% else %}
         <hr />
         <a href="{{ site.baseurl }}/work/" class="read-more">Back to all work articles</a>
        {% endif %}
      </article>
    </section>
    <section class="recent-posts-section">
      <div class="container">
        <ul>
          <h2>Recent Posts</h2>
        {% for post in site.posts limit:5 %}
          <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p class="meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          </li>
        {% endfor %}
        </ul>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>





